/** @format */
.single-gist-main-container {
	width: 80%;
  margin: auto;
}

.user-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.single-gist-header-container{
  display: flex;
  margin-top: 50px;
}

.content, .conent-for-starred-gists{
  padding: 30px 0 0 30px;
}

.conent-for-starred-gists{
  overflow: hidden;
  color: grey;
}

.icon-container{
  width: 100%;
  text-align: right;
}

.icon{
  margin: 5px;
}